// Import font
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$max-width: 450px;
$border-radius: 20px;

$font-stack: 'Red Hat Display', sans-serif;

$clr-primary: hsl(225, 100%, 94%);
$clr-secondary: hsl(245, 75%, 52%);

$clr-neutral-white: hsl(0, 0%, 100%);
$clr-neutral-pale: hsl(225, 100%, 98%);
$clr-neutral-desat: hsl(224, 23%, 55%);
$clr-neutral-dark: hsl(223, 47%, 23%);
